
@mixin position {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

@mixin contain {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

@mixin stayFlat {
  display: flex;
  align-items: center;
}

